In [1]:
cd d:\CEDT1_2568\dsde\project\JekTurnRight_dsde

d:\CEDT1_2568\dsde\project\JekTurnRight_dsde

In [2]:
from src.dataprep.pipeline import FloodDataPipeline,PipelineConfig

In [3]:
df_path = 'data/raw/bangkok_traffy.csv'
shape_path = 'data/raw/BMA/BMA_ADMIN_SUB_DISTRICT.shp'
rain_path = 'data/external/rainfall.csv'
station_path = 'data/external/station.csv'
check_path = './data/raw/subwithdis.csv'

In [5]:

    # Setup Config
config = PipelineConfig(
    traffy_path="data/raw/bangkok_traffy.csv",
    shape_path="data/raw/BMA/BMA_ADMIN_SUB_DISTRICT.shp",
    station_path="data/external/station.csv",
    rain_path="data/external/rainfall.csv",
    output_path="data/processed/clean_flood_data.csv",
    check_path="data/raw/subwithdis.csv"
    )

    # Run Pipeline
pipeline = FloodDataPipeline(config)
final_df = pipeline.run()

print(final_df.info())

INFO:src.dataprep.pipeline:>>> [1/7] Loading Data...
INFO:src.dataprep.io:Loading CSV: data/raw/bangkok_traffy.csv
INFO:src.dataprep.io:Loading Shapefile: data/raw/BMA/BMA_ADMIN_SUB_DISTRICT.shp
INFO:src.dataprep.io:Loading CSV: data/external/station.csv
INFO:src.dataprep.io:Loading CSV: data/external/rainfall.csv
INFO:src.dataprep.io:Loading CSV: data/raw/subwithdis.csv
INFO:src.dataprep.pipeline:>>> [2/7] Cleaning Data...
INFO:src.dataprep.pipeline:>>> [3/7] Verifying Traffy Coordinates...
INFO:src.dataprep.pipeline:>>> [4/7] Mapping Subdistricts to Stations...
d:\CEDT1_2568\dsde\project\JekTurnRight_dsde\src\dataprep\geo.py:98: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'BKP.02' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask, 'station_code'] = stations[0]['station_code']
INFO:src.dataprep.pipeline:>>> [5/7] Expanding Rainfall to Subdistricts...
INFO:src.dataprep.pipeline:>>> [6/7] Merging Reports...
INFO:src.dataprep.pipeline:Saving result to data/processed/clean_flood_data.csv
INFO:src.dataprep.pipeline:>>> Pipeline Finished Successfully.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197280 entries, 0 to 197279
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   date                    197280 non-null  object
 1   district                197280 non-null  object
 2   subdistrict             197280 non-null  object
 3   station_code            197280 non-null  object
 4   latitude                197280 non-null  float64
 5   longitude               197280 non-null  float64
 6   number_of_report_flood  197280 non-null  float64
 7   total_report            197280 non-null  float64
 8   rainfall                197280 non-null  float64
dtypes: float64(5), object(4)
memory usage: 13.5+ MB
None

In [ ]:
# pd.DataFrame(df).to_csv('not_fix.csv', index=False)

In [ ]:
# not_fix = pd.read_csv('./data/raw/not_fix.csv')
# not_final = pd.read_csv('./data/raw/result_not_fix.csv')

In [ ]:
# display(final_df['number_of_report_flood'].sum(),final_df['total_report'].sum(),final_df['rainfall'].sum())
# display(not_final['number_of_report_flood'].sum(),not_final['total_report'].sum(),not_final['rainfall'].sum())

np.float64(37592.0)

np.float64(590384.0)

np.float64(816655.5)

np.float64(37691.0)

np.float64(590556.0)

np.float64(816655.5)

In [ ]:

# display(df.isna().sum(),not_fix.isna().sum())
# display(df.describe(),not_fix.describe())

ticket_id               0
type                    0
organization            0
comment                 0
photo                  67
photo_after        100229
coords                  0
address                 0
subdistrict             0
district                0
province                0
timestamp               0
state                   0
star               386178
count_reopen            0
last_activity           0
year_timestamp          0
month_timestamp         0
days_timestamp          0
longitude               0
latitude                0
type_list               0
subdistrict_id          0
district_id             0
changwat                0
shape_area              0
date                    0
dtype: int64

ticket_id            5772
type                   85
organization           87
comment              5772
photo                  70
photo_after        101228
coords                  0
address              5772
subdistrict             0
district                0
province                0
timestamp               0
state                   0
star               391142
count_reopen            0
last_activity           0
year_timestamp          0
month_timestamp         0
days_timestamp          0
longitude               0
latitude                0
type_list               0
subdistrict_id          0
district_id             0
changwat                0
shape_area              0
date                    0
dtype: int64

,star,count_reopen,year_timestamp,month_timestamp,days_timestamp,longitude,latitude,subdistrict_id,district_id,shape_area
count,204206.000000,590384.000000,590384.000000,590384.000000,590384.000000,590384.000000,590384.000000,590384.000000,590384.000000,5.903840e+05
mean,3.900718,0.121443,2023.214022,7.019230,15.731465,100.564611,13.761475,102482.679929,1024.797391,1.083824e+07
std,1.454344,0.832152,0.758973,3.164178,8.761328,0.099712,0.064871,1404.404906,14.050895,1.188234e+07
min,1.000000,0.000000,2022.000000,1.000000,1.000000,100.328440,13.509910,100101.000000,1001.000000,1.498611e+05
25%,3.000000,0.000000,2023.000000,5.000000,8.000000,100.501820,13.719030,101203.000000,1012.000000,3.369887e+06
50%,5.000000,0.000000,2023.000000,7.000000,16.000000,100.557720,13.753400,102601.000000,1026.000000,6.978393e+06
75%,5.000000,0.000000,2024.000000,10.000000,23.000000,100.621680,13.802610,103701.000000,1037.000000,1.513300e+07
max,5.000000,100.000000,2024.000000,12.000000,31.000000,100.936320,13.954540,105005.000000,1050.000000,8.166418e+07

,star,count_reopen,year_timestamp,month_timestamp,days_timestamp,longitude,latitude,subdistrict_id,district_id,shape_area
count,205186.000000,596328.000000,596328.00000,596328.000000,596328.000000,596328.000000,596328.000000,596328.000000,596328.000000,5.963280e+05
mean,3.895178,0.125268,2023.21345,7.021731,15.733974,100.564474,13.761270,102480.740356,1024.777993,1.082477e+07
std,1.458038,0.847450,0.75787,3.166001,8.760403,0.099740,0.064812,1404.176442,14.048588,1.186160e+07
min,1.000000,0.000000,2022.00000,1.000000,1.000000,100.328440,13.509910,100101.000000,1001.000000,1.498611e+05
25%,3.000000,0.000000,2023.00000,5.000000,8.000000,100.501820,13.718910,101106.000000,1011.000000,3.369887e+06
50%,5.000000,0.000000,2023.00000,7.000000,16.000000,100.557580,13.753220,102601.000000,1026.000000,6.978393e+06
75%,5.000000,0.000000,2024.00000,10.000000,23.000000,100.621710,13.802350,103701.000000,1037.000000,1.513300e+07
max,5.000000,100.000000,2024.00000,12.000000,31.000000,100.936320,13.954540,105005.000000,1050.000000,8.166418e+07